<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Bitcount-Black.ttf</string>
		<string>Bitcount-Bold.ttf</string>
		<string>Bitcount-ExtraBold.ttf</string>
		<string>Bitcount-ExtraLight.ttf</string>
		<string>Bitcount-Light.ttf</string>
		<string>Bitcount-Medium.ttf</string>
		<string>Bitcount-Regular.ttf</string>
		<string>Bitcount-SemiBold.ttf</string>
		<string>Bitcount-Thin.ttf</string>
		<string>Inconsolata-Black.ttf</string>
		<string>Inconsolata-Bold.ttf</string>
		<string>Inconsolata-ExtraBold.ttf</string>
		<string>Inconsolata-ExtraLight.ttf</string>
		<string>Inconsolata-Light.ttf</string>
		<string>Inconsolata-Medium.ttf</string>
		<string>Inconsolata-Regular.ttf</string>
		<string>Inconsolata-SemiBold.ttf</string>
	</array>
</dict>
</plist>
